* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  width: 100%;
}

main {
  position: relative;
}

.go-top-btn {
  position: fixed;
  z-index: 50;
  right: 20px;
  bottom: 40px;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
img {
  display: block;
  border: none;
  box-shadow: none;
}

input {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* ===== header ===== */

header {
  height: 70px;
  background-color: rgb(0, 106, 125);
  position: relative;
}
.logo {
  height: 36px;
}
header .logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

header .favorite-menu {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 12px;
  border: 1px solid #fff;
  color: #fff;
  width: 150px;
  height: 30px;
  line-height: 30px;
}
.favorite-menu img {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  height: 14px;
}

header .header-nav-container {
  display: flex;
  position: absolute;
  bottom: 4px;
  right: 10px;
  gap: 20px;
  text-align: center;
}
header .h-nav-item {
  min-width: 50px;
  color: #fff;
  font-size: 14px;
}

/* ===== /header ===== */

/* ===== top-slider ===== */
.top-slider {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
}
.top-slider-area {
  width: calc(100% * 5);
  display: flex;
  position: absolute;
  left: 0;
}

.slider-item {
  width: 100%;
  height: 300px;
  background-color: #bbb;
  color: #fff;
  text-align: center;
  line-height: 300px;
}

.indicator-container {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}
/*=== インジケーターの親 (flex) ul ===*/
#indicator {
  display: flex;
  width: 100px;
  margin: 0 auto;
  justify-content: space-around;
}
/*=== インジケーター子要素 li  ===*/
#indicator li {
  font-size: 16px;
  color: #777;
  cursor: pointer;
  transition: 0.3s;
}
#indicator li:hover {
  color: #fff;
  transform: scale(1.2);
}
#indicator li.inActive {
  color: #fff;
}
/* ===== /top-slider ===== */

/* ===== carousel ===== */
.carousel-container {
  width: 100%;
  padding: 4px 20px;
  overflow: hidden;
  position: relative;
}
/* === carousel arrow btn === */
#arrow-left-slide,
#arrow-right-slide {
  position: absolute;
  top: 50%;
  z-index: 50;
  height: 50px;
  cursor: pointer;
}
#arrow-left-slide {
  left: 0;
}
#arrow-right-slide {
  right: 0;
}
.carousel-description {
  text-align: center;
  width: 240px;
  margin: 30px auto;
  font-size: 12px;
}
.carousel-title {
  font-size: 16px;
}
.carousel-text {
  opacity: 0.6;
}
.carousel-area-f {
  width: calc(25% * 5);
  display: flex;
  position: relative;
  left: 0;
  gap: 6px;
}
.carousel-item {
  width: 25%;
  min-width: 170px;
  background-color: #fff;
  box-shadow: 0px 0px 2px #aaa;
}
.carousel-item .car-img {
  width: 100%;
  min-height: 100px;
  margin: 4px auto;
}
.car-info {
  position: relative;
  padding: 10px;
}
.maker-name,
.car-name {
  font-size: 10px;
}

.favorite-btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  display: flex;
  box-shadow: 0px 0px 2px #bbb;
}
.favorite-btn-container p {
  display: block;
  font-size: 10px;
  transform: scale(0.8);
}
.favorite-btn-container span {
  width: 18px;
  height: 18px;
  margin-top: 4px;
  background: url(../assets/img/icon/pinUncheck.png) center / cover;
  cursor: pointer;
}
.favorite-btn-container .active {
  background: url(../assets/img/icon/pinCheck.png) center / cover;
}

.show-detail-btn {
  width: 90%;
  height: 28px;
  line-height: 28px;
  border: 1px solid #999;
  display: block;
  margin: 16px auto 0 auto;
  font-size: 10px;
  text-align: center;
  position: relative;
}
.show-detail-btn img {
  height: 14px;
  position: absolute;
  top: 6px;
  right: 8px;
}
/* ===== /carousel ===== */

/* ===== search section ===== */
.search-container {
  width: 100%;
  padding: 0 30px;
  margin-top: 100px;
  display: flex;
  gap: 16px;
}
.search-title {
  font-size: 20px;
  margin: 10px;
  color: #888;
}
/* === search-car-container === */
.s-car-type-container {
  background-color: #eee;
  width: 50%;
  box-shadow: 0px 1px 3px #999;
}
.car-type-list {
  display: flex;
  width: 90%;
  margin: 8px auto 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.car-type-item {
  width: calc(95% / 3);
  margin-bottom: 16px;
}
.car-type-item p {
  font-size: 12px;
}
.car-type-item img {
  width: 100%;
}
.car-item-select-field {
  display: flex;
  justify-content: space-between;
}
/* === option-search === */
.option-search-container {
  padding: 14px 10px;
}
.option-search-container .title-text {
  border-left: 3px solid #36a5c1;
  padding-left: 4px;
  font-size: 16px;
  display: inline;
}
.option-contents {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.option-item {
  margin-left: 20px;
}
.option-item .item-title {
  display: inline-block;
  font-size: 12px;
  margin-right: 4px;
}

select {
  font-size: 12px;
  color: #aaa;
  appearance: none;
  border-radius: 0;
  border: 1px solid #ccc;
  height: 20px;
  padding-left: 10px;
  width: 100px;
  /* 矢印アイコン */
  background-image: url("../assets/img/icon/arrowDown.png");
  background-position: right 5px top 0px;
  background-repeat: no-repeat;
  background-size: 30px 20px;
}
/* AT/MT ボタンのdiv */
.select-transmission {
  display: inline-block;
  margin: 20px 0 0px 10px;
}
.at-btn,
.mt-btn {
  position: relative;
  padding: 4px 22px;
  border-radius: 8px;
  border: 0.5px solid #aaa;
  font-size: 10px;
  color: #999;
  background-color: #fff;
}
.at-btn {
  margin-right: -15px;
}
.at-btn.in-active,
.mt-btn.in-active {
  color: #fff;
  background-color: #36a5c1;
  z-index: 50;
}
.search-submit-btn {
  width: 150px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  display: block;
  margin: 20px auto 0 auto;
  background-color: #36a5c1;
  color: #fff;
  box-shadow: 0px 1px 3px #999;
  position: relative;
}
.search-submit-btn img {
  display: inline-block;
  height: 14px;
  position: absolute;
  top: 8px;
  right: 12px;
}
/* flex-column */
.flex-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.s-car-marker-container {
  width: 100%;
  background-color: #eee;
  box-shadow: 0px 1px 3px #999;
  margin-bottom: 20px;
}

/* search-makers */
.s-maker-contents {
  margin: 10px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.s-keyword-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 1px 3px #999;
}

.option-search-container.option-makers {
  background-color: #fff;
}

.option-item.option-makers {
  width: 100%;
}
select.gray {
  /* 矢印アイコン */
  background-blend-mode: luminosity;
}
.select-transmission.gray .at-btn.in-active,
.select-transmission.gray .mt-btn.in-active {
  background-color: #aaa;
}

/* search-keyword */
.s-keyword-container .search-submit-btn {
  margin-bottom: 14px;
}
.s-keyword-container input {
  display: block;
  width: 80%;
  border: 1px solid #ccc;
  height: 30px;
  padding: 10px;
  margin: 0 auto;
}

/* ===== /search section ===== */

/* ===== News section ===== */
.news-container {
  width: 70%;
  margin: 60px auto;
  position: relative;
}
.content-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px rgb(23, 71, 125);
  padding-bottom: 4px;
}
.content-heading .title {
  font-size: 20px;
  margin-left: 10px;
}
.content-heading button {
  width: 150px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #36a5c1;
  color: #fff;
}
.news-item {
  margin: 8px 0;
  padding: 0 0 8px 4px;
  border-bottom: solid 1px #333;
  position: relative;
}
.news-item div {
  border-left: solid 3px rgb(23, 71, 125);
  padding-left: 10px;
}
.news-item p {
  opacity: 0.6;
}
.news-item .date {
  font-size: 12px;
}
.news-item .text {
  font-size: 14px;
}
.news-item img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* ===== /News section ===== */

/* ===== footer ===== */
footer {
  width: 100%;
  background-color: #888;
}
.footer-container {
  width: 70%;
  height: 200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
}

.company-info {
  width: 50%;
  padding-right: 40px;
  border-right: 5px solid rgba(32, 96, 133, 0.7);
}
.company-info .logo {
  margin-bottom: 10px;
}
.company-info p {
  font-size: 12px;
}

.footer-nav {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-list {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-list .nav-item {
  width: 120px;
  margin: 2px 20px 2px 0;
}

/* ===== Copylight ===== */
.copylight {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #c5f0ff;
  text-align: center;
}
.copylight p {
  font-size: 18px;
}

/* === レスポンシブ tablet === */
@media screen and (max-width: 834px) {
  .carousel-area-f {
    width: calc(33% * 5);
  }
  .carousel-item {
    width: calc(100% / 3);
  }
  .favorite-btn-container p {
    transform: scale(0.7);
  }
}

/* === レスポンシブ sp === */
@media screen and (max-width: 428px) {
  .logo {
    height: 26px;
  }
  header .logo {
    left: 10px;
    top: 10px;
  }
  header .h-nav-item,
  header .favorite-menu {
    font-size: 10px;
  }

  .search-container {
    flex-direction: column;
  }
  .s-car-type-container,
  .flex-column {
    width: 100%;
  }
  .news-container {
    width: 90%;
  }

  /* === carousel arrow btn === */
  #arrow-left-slide,
  #arrow-right-slide {
    display: none;
  }

  .carousel-container {
    overflow-x: scroll;
  }
  .carousel-area-f {
    width: calc(33% * 5);
  }
  .carousel-item {
    width: calc(100% / 3);
    padding: 0 4px;
  }
  .maker-name,
  .car-name {
    font-size: 10px;
  }
  .favorite-btn-container {
    position: static;
    width: 100px;
    margin: 10px auto;
  }
  .show-detail-btn img {
    right: 4px;
  }
  .company-info {
    padding-right: 20px;
  }
  .company-info p {
    font-size: 10px;
  }
  .nav-list {
    font-size: 10px;
  }
  .nav-list .nav-item {
    width: 100px;
  }
  .copylight p {
    font-size: 12px;
  }
}
